h1 {font-size: 1cm}
h1 {margin: 25px 50px 75px 100px}
h1 {color:rgb(126, 73, 5); text-decoration:overline; text-align: center;}
h1 {position: fixed;}
h2 {font-size: 6mm}
h2 {margin: auto}
h3 {font-size: 20px}
h3 {padding-top: 50px; padding-right: 25px; padding-bottom: 50px; padding-left: 25px;}
p  {font-size: 1.2em; line-height: 1.5vw;}
p  {margin-top: 100px; margin-bottom: 100px; margin-right: 150px; margin-left: 80px;}
li {font-size: 3ch}
li {padding: 100px 75px 50px 25px}
li {display: inline;}
p.dotted {border-style:dotted; border-width:medium; border-color: rgb(15, 107, 107); border-radius: 1cm;}
a  {display: block;}
a:link {color:red}
a:visited{color:chartreuse}
a:hover{color:cornflowerblue}
a:active{color:wheat}
fieldset {height: 4cm; width: 8cm;}
fieldset {max-height: 5cm; max-width: 10cm;}
datalist {position: static ;}
.flex-container { display: flex; flex-wrap: nowrap; background-color: rgb(36, 114, 192);}
.flex-container > div { background-color: #f30c0c; width: 150px; height: 150px; margin: 20px; text-align: center; font-size: 30px;}
.grid-container { display: grid; grid-template-columns: auto auto auto; background-color: #78fc7f; padding: 10px;}
.grid-item { background-color: rgba(86, 19, 93, 0.8); border: 3px solid rgba(165, 196, 28, 0.8); padding: 20px; font-size: 30px; text-align: center;}
@media only screen and (max-width: 900px) {body { background-color: rgb(248, 83, 83);}}
.why{ background-color: rgb(0, 183, 255);}
#shenron{background-color: rgb(50, 160, 28); }
* {resize:both;}
a[alt] {background-color: rebeccapurple;}
option, input {color: rgb(134, 109, 109);}
ol li {font-size: 1.2cm;}
p > ol {font-size: 2.2cm;}
option ~ select {font-size: 2.5cm;}
fieldset + label {color:rgb(185, 235, 156);}